.column-header__contents {
  display: flex;

  > *:not(:first-child) {
    margin-left: 1rem;
  }

  .sort-button {
    text-align: center;

    .sort-arrow {
      height: 0.75em;
      opacity: 0.5;
      display: inline-block;
      padding-left: 1rem;

      &.sorted {
        opacity: 1;
      }

      &.asc {
        transform: rotate(-90deg);
        vertical-align: sub;
      }

      &.desc {
        transform: rotate(90deg);
      }
    }
  }
}
