.column-header__contents {
  display: flex;

  > *:not(:first-child) {
    margin-left: 1rem;
  }

  .sort-button {
    text-align: center;
    position: relative;
    height: 100%;
    width: 2rem;

    .sort-arrow {
      height: 0.75rem;
      opacity: 0.5;
      position: absolute;
      left: 0.55rem;

      &.sorted {
        opacity: 1;
      }

      &.asc {
        top: 0.25rem;
        transform: rotate(-90deg);
      }

      &.desc {
        bottom: 0.25rem;
        transform: rotate(90deg);
      }
    }
  }
}
