.column-header__contents {
  display: flex;
  padding-right: 2rem;
  align-items: stretch;

  > *:first-child {
    align-self: center;
  }

  > *:not(:first-child) {
    margin-left: 1rem;
  }

  .sort-button {
    height: 100%;
    width: 2rem;
    padding: 0;
  }

  .sort-arrows {
    position: relative;
    height: 100%;
    width: 100%;

    .sort-arrow {
      height: 45%;
      padding: 2.5%;
      opacity: 0.5;
      position: absolute;

      &.sorted {
        opacity: 1;
      }

      &.asc {
        transform: translate(-50%, 10%) rotate(-90deg);
      }

      &.desc {
        transform: translate(-50%, 90%) rotate(90deg);
      }
    }
  }
}
