.projects-table {
  th {
    background-color: var(--cfa-blue-dark);
    color: var(--cfa-white);
    padding: 1.5rem;
    text-align: left;
    font-size: 1.5rem;
  }

  td {
    padding: 1rem 1.5rem;
  }

  tr:nth-child(odd) {
    background: var(--cfa-blue-lightest);
  }

  .pagination {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    > * > * {
      display: inline-block;
      margin: 0.5rem;
    }
  }
}
