.projects-table {
  width: 100%;
  height: auto;
  overflow-y: scroll;

  table {
    width: 100%;
    border-spacing: 0;
    border-radius: inherit;
  }

  a {
    word-break: break-all;
  }

  th {
    background-color: var(--cfa-blue-dark);
    color: var(--cfa-white);
    padding: 0.25rem;
    text-align: left;
    font-size: 1rem;
    min-width: 12rem;
  }

  td {
    padding: 0.5rem;
    font-size: 1rem;
  }

  tr:nth-child(odd) {
    background: var(--cfa-blue-lightest);
  }

  .load-projects-button {
    text-align: center;
  }

  // .pagination {
  //   margin: 0.25rem 0.5rem;
  //   border-top: 1px solid var(--cfa-grey);
  //   text-align: center;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: flex-end;

  //   > * > * {
  //     display: inline-block;
  //     margin: 0.5rem;
  //   }
  // }
}
