button.button {
  font-size: 1.5rem;
  border-radius: 5px;
  border: 2px solid var(--cfa-magenta);
  background-color: var(--cfa-magenta-lightest);
  padding: 0.3rem 1rem;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--cfa-magenta-lighter);
  }

  &:disabled {
    cursor: default;
    background-color: var(--cfa-grey-light);
    border: 2px solid var(--cfa-grey);
  }
}
