.projects-table {
  width: 100%;
  height: auto;

  // Make top scrollbar show rather than bottom
  .ps__rail-x {
    bottom: auto;
    top: 0px;
  }

  .ps--active-x table {
    padding: 1rem 0;
  }

  table {
    width: 100%;
    border-spacing: 0;
    border-radius: inherit;
  }

  a {
    word-break: break-all;
  }

  th {
    background-color: var(--cfa-purple-dark);
    color: var(--cfa-white);
    padding: 0.25rem;
    text-align: left;
    font-size: 1rem;
    min-width: 12rem;
  }

  td {
    padding: 0.5rem;
    font-size: 1rem;
  }

  tr:nth-child(odd) {
    background: var(--cfa-purple-lightest);
  }

  .load-projects-button {
    text-align: center;
  }

  .tag-link {
    &--active {
      background-color: var(--cfa-yellow-light);
    }
  }

  // .pagination {
  //   margin: 0.25rem 0.5rem;
  //   border-top: 1px solid var(--cfa-grey);
  //   text-align: center;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: flex-end;

  //   > * > * {
  //     display: inline-block;
  //     margin: 0.5rem;
  //   }
  // }
}
