.form-control-container {
  &--inline {
    display: inline-block;
    width: max-content;
  }
}

.form-label {
  div {
    text-align: left;
  }

  &--inline {
    display: inline-block;
    margin-right: 0.5rem;
    align-self: center;
  }
}

.form-control {
  font-size: 1.15rem;
  border-radius: 5px;
  border: 2px solid var(--cfa-blue);
  background-color: var(--cfa-blue-lighter);
  padding: 0.3rem 1rem;

  &:hover,
  &:focus {
    background-color: var(--cfa-blue-lightest);
  }

  &:disabled {
    cursor: default;
    color: var(--cfa-grey-dark);
    background-color: var(--cfa-grey);
    border: 2px solid var(--cfa-grey);
  }

  &--dark-background {
    // TODO: implement styles for nav bar buttons here
    // use for map reset button too?
  }

  &--inline {
    display: inline-block;
  }
}
