@import url('./assets/styles/colors.css');
@import url('./assets/styles/fonts.css');

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  padding-bottom: 3rem;
}

a {
  color: inherit;

  &:hover,
  &:focus {
    color: var(--cfa-grey-dark);
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.display-inline-block {
  display: inline-block;
}
