@import url('./assets/styles/colors.css');
@import url('./assets/styles/fonts.css');

body {
  margin: 0;
  font-size: 1.25rem;
}

a {
  color: inherit;

  &:hover,
  &:focus {
    color: var(--cfa-grey-dark);
  }
}
