.App-header {
  width: 100%;
  min-height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  background-color: var(--cfa-blue-dark);

  a {
    text-decoration: none;
  }

  .home-link {
    padding: 0.5rem 1rem;
    border: 4px solid transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;

    .App-logo {
      width: 10rem;
      display: inline-block;
      pointer-events: none;
      margin-right: 1.3rem;
      flex: 1;
    }

    .App-title {
      white-space: nowrap;
      font-size: 2rem;
      font-weight: bold;
      display: inline-block;
      color: var(--cfa-white);
      font-family: var(--font-family-header);
    }
  }

  .home-link:focus,
  .home-link:hover {
    border: 4px solid var(--cfa-magenta);
  }
}
