.App-header {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(20px);
  background-color: var(--cfa-purple);

  a {
    text-decoration: none;
  }

  .home-link {
    padding: 0 20px;
    border: 4px solid transparent;

    h1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }

    .App-logo {
      width: 200px;
      height: 74px;
      display: inline-block;
      pointer-events: none;
    }

    .App-title {
      display: inline-block;
      margin-left: 1.3rem;
      color: var(--cfa-white);
      font-family: var(--font-family-header);
    }
  }

  .home-link:focus,
  .home-link:hover {
    border: 4px solid var(--cfa-teal);
  }
}
