@media screen and (max-width:800px) {
  th{
      width:calc(100% - 0.5em) !important;
  }
  .hideThirdAndFourthColumns {
    th:nth-of-type(3){
      display:none;
    }
    th:nth-of-type(4){
      display:none;
    }
  }
}
  