@media screen and (max-width:800px) {
  th{
      width:calc(100% - 0.5em) !important;
  }
  .hideFifthColumn {
    th:nth-of-type(5){
      display:none;
    }
  }
}
.accordionButtonInnerDiv { color: blue; display: flex; justify-content: space-between;}
.accordionCollapseExpand {
  color: blue; 
}
.accordionCollapseExpandButton {
  border-width: 0;
  padding-left: 6px;
  font-size: small;
  color: blue;
}
.accordionButton {
  background-color: #eee;
  color: blue;
  cursor: pointer;
  display: block;
  width: 150px;
  padding: 6px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordionButton:hover {
  background-color: #ccc;
}
.overviewSection {
  margin-bottom: 8px
}
.filterSection { margin-bottom: 8px }
// width below included margins, border, and padding
.tagFilterSectionSelect { width: 200px }
// width below excludes padding left, padding right for MultiSelect.  
// Total width is width + padding + border (2px).  
// Border width should n
.tag-filter-section-multi-select { width: 140px; padding-left: 16px; padding-right: 16px; border-width: 2px }
#nontagFilter label
{ display: inline-block;
    width: 280px;
    vertical-align: middle;
    position: relative;
    text-align: relative;
}
.divBottomSeparator {
  border-bottom: blue 3px solid;
}
.checkboxLabelAdjustment {
  /* align-center does not work for checkboxes same as text */
  padding-top: 5px;
}
#only_cfa_projects {
  margin-left: 0;
  margin-top: 0;
}
#nontagFilter {
  margin-right: 20px;
}

#tagFilter label 
{ display: inline-block;
width: 250px;
vertical-align: middle;
position: relative;
text-align: left;
}
  