.form-control-container {
}

.form-label {
  div {
    padding: 1rem 0 0.25rem 0;
    text-align: left;
  }

  &--inline {
    display: inline-block;
    margin-right: 0.5rem;
  }
}

.form-control {
  font-size: 1.15rem;
  border-radius: 5px;
  border: 2px solid var(--cfa-magenta);
  background-color: var(--cfa-magenta-lightest);
  padding: 0.3rem 1rem;

  &:hover,
  &:focus {
    background-color: var(--cfa-magenta-lighter);
  }

  &:disabled {
    cursor: default;
    color: var(--cfa-grey-dark);
    background-color: var(--cfa-grey);
    border: 2px solid var(--cfa-grey);
  }

  &--dark-background {
    // TODO: implement styles for nav bar buttons here
    // use for map reset button too?
  }
}
