.text-input {
  position: relative;
  margin:0.5em;
  justify-self: end;
  label {
    color: var(--cfa-blue);
    position: absolute;
    transform-origin: top left;
    transform: translate(0.15rem, 0.15rem) scale(0.75);
    left: 0;
  }

  input {
    text-align: right;
  }
}
