input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom checkbox appearance */
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 6px;
}

input[type="checkbox"]:checked {
  background-color: #005980;
} 

input[type=checkbox]:checked:after {
  width: 2mm;
  height: 4mm;
  border: solid white;
  border-width: 0 2mm 2mm 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  display: inline-block;
}