@import url('./assets/styles/colors.css');
@import url('./assets/styles/fonts.css');

body {
  margin: 0;
  font-size: 1.25rem;
}

a {
  color: inherit;

  &:hover,
  &:focus {
    color: var(--cfa-grey-dark);
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
