@import "~bootstrap/scss/bootstrap";

body {
    background-color: white;
}

main {
    width: 70%;
    margin: 1rem 15% 0;
}

h1, h2, a {
    color:  #007bff;
}

h1, h2 {
    font-family: "Interstate", "Gotham A", "Gotham B", "Open Sans Regular", "Verdana", "Helvetica", "Arial";
    font-weight: 700;
    text-transform: uppercase;
}

.list-group-item {
    margin-bottom: 8px;
}

span.passed-metric {
    background: #53d775;
    color: white;
    border-radius: 6px;
    padding: 5px 7px 5px 7px;
    margin: 0px;
    margin-right: 0px;
    font-size: 0.7em;
    margin-right: 10px;
}

#leaders span.passed-metric {
	font-size: 0.6em;
	margin-top:10px;
	display:inline-block;
}