@import "~bootstrap/scss/bootstrap";

/* https://style.codeforamerica.org/ */

#map {
    margin-top: 50px;
    margin-bottom: 50px;
    left: 10%;
    width: 80%;
}

#brigade-list {
    margin-top: 40px;
}

h1 {
    width: 100%;
    position: absolute;
    top: 10px;
    text-align: center;
    font-family: "Arial";
    font-weight: 700;
    font-size: 50px;
}

.states {
    fill:#e5e5e5 ;
    stroke: #444;
    stroke-width: 1px;
}

.brigades circle {
    fill: white;
    /* #999595 */
    stroke: #444444;
    stroke-width: 2px;
}
