.App-header {
  width: 100%;
  min-height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  background-color: var(--cfa-purple-dark);

  a {
    text-decoration: none;
  }

  .home-link {
    padding: 0.5rem 1rem;
    border: 4px solid transparent;
    display: flex;
    flex-wrap: wrap;

    .App-logo {
      width: 10rem;
      display: inline-block;
      pointer-events: none;
    }
  }
  
  .App-title {
    white-space: nowrap;
    font-size: 2rem;
    font-weight: bold;
    color: var(--cfa-white);
    font-family: var(--font-family-header);
  }

  .home-link:focus,
  .home-link:hover {
    border: 4px solid var(--cfa-blue);
  }

  @media only screen and (max-width: 800px) {
    .home-link {
      padding: 0.5rem;
      justify-content: start;

      .App-logo {
        width: 7rem;
        text-align: left;
      }
      .App-title {
        font-size: 1.75rem;
      }
    }
  }
}
