.map {
  position: relative;
  border: 4px solid var(--cfa-teal);
  border-radius: 5px;

  .states-group {
    path {
      fill: transparent;
      stroke: var(--cfa-grey-dark);
      cursor: pointer;
    }

    path:hover,
    path:focus {
      outline: none;
      stroke: var(--cfa-red);
      stroke-width: 4px;
    }

    path:focus {
      fill: var(--cfa-grey);
    }
  }

  path.state-border {
    fill: transparent;
    stroke: var(--cfa-grey-dark);
    cursor: pointer;
  }

  .brigade-point {
    fill-opacity: 0.5;
    stroke: var(--cfa-purple);
    fill: var(--cfa-purple);
    cursor: pointer;
  }
}
