.map {
  position: relative;
  margin: 2rem 20%;
  border: 4px solid var(--cfa-teal);
  border-radius: 5px;

  .states-group {
    path {
      fill: transparent;
      stroke: var(--cfa-grey-dark);
      cursor: pointer;
    }
  }

  path.state-border {
    fill: transparent;
    stroke: var(--cfa-grey-dark);
    cursor: pointer;
  }
}
