nav {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family-header);
  font-weight: bold;
  font-size: 1.5rem;

  .navigation__mobile {
    display: none;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
    margin: unset;

    li {
      margin-left: 1.5rem;
    }

    li a {
      border: 2px solid var(--cfa-white);
      border-radius: 5px;
      padding: 0 0.5rem 0.1rem 0.5rem;
      background-color: var(--cfa-magenta);
      color: var(--cfa-white);
    }

    li a:hover,
    li a:focus {
      background-color: var(--cfa-magenta-dark);
      color: var(--cfa-white);
    }
  }

  @media only screen and (max-width: 800px) {
    .navigation__desktop {
      display: none;
    }

    // https://codepen.io/erikterwan/pen/EVzeRP
    display: inline-block;
    width: 2rem;
    height: 2rem;

    .navigation__mobile {
      display: block;
      position: absolute;
      top: -1rem;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
    }

    .navigation__mobile a {
      transition: color 0.3s ease;
    }

    .navigation__mobile input {
      display: block;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */
      -webkit-touch-callout: none;
    }

    /*
     * Just a quick hamburger
     */
    .navigation__mobile span {
      display: block;
      width: 2rem;
      height: 0.25rem;
      margin-bottom: 0.25rem;
      position: relative;
      background: var(--cfa-white);
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }

    .navigation__mobile span:first-child {
      transform-origin: 0% 0%;
    }

    .navigation__mobile span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }

    .navigation__mobile input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: var(--cfa-magenta);
    }

    .navigation__mobile input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    .navigation__mobile input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }

    ul {
      padding: 0.5rem 1rem;
      width: calc(100vw - 2rem);
      margin: 1rem 0 0 0;
      display: none;
      position: absolute;
      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */
      transform-origin: 0% 0%;
      transform: translate(10vw, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }

    ul li {
      padding: 0.5rem 0;
      font-size: 1.5rem;
      margin: unset;
    }

    .navigation__mobile input:checked ~ ul {
      transform: translate(calc(-100vw + 3rem), 0);
      display: unset;
    }
  }
}
