nav {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family-header);
  font-weight: bold;
  font-size: 1.5rem;

  .navigation__mobile {
    display: none;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
    margin: unset;

    li {
      margin-left: 1.5rem;
    }

    li a {
      border: 2px solid var(--cfa-white);
      border-radius: 5px;
      padding: 0 0.5rem 0.1rem 0.5rem;
      background-color: var(--cfa-magenta);
      color: var(--cfa-white);
    }

    li a:hover,
    li a:focus {
      background-color: var(--cfa-magenta-dark);
      color: var(--cfa-white);
    }
  }

  @media only screen and (max-width: 800px) {
    .navigation__desktop {
      display: none;
    }

    padding: 0 1rem;
    display: inline-block;
    height: 4rem;
    width: 4rem;
    position: relative;
    z-index: 2;

    .navigation__mobile {
      display: block;

      a {
        transition: color 0.3s ease;
      }

      .hamburger {
        position: absolute;
        padding: 1rem;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background-color: inherit;
        border: 4px solid transparent;
      }

      .hamburger:focus,
      .hamburger:hover {
        border: 4px solid var(--cfa-magenta);
      }

      .hamburger span {
        display: block;
        position: relative;
        width: 2rem;
        height: 4px;
        margin-bottom: 5px;
        background: var(--cfa-white);
        border-radius: 3px;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
          background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
      }

      .hamburger span:first-child {
        transform-origin: 0% 0%;
      }

      .hamburger span:nth-last-child(2) {
        transform-origin: 0% 100%;
      }

      .hamburger.open span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: var(--cfa-magenta);
      }

      .hamburger.open span:nth-last-child(3) {
        // Top bar goes away when the hamburger becomes an x
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      .hamburger.open span:nth-last-child(2) {
        // This becomes the x bar that starts at the bottom left
        transform: rotate(-45deg) translate(0, -1px);
      }

      ul {
        padding: 0;
        margin: 4.25rem 0 0;
        position: fixed;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        display: unset;
        width: calc(100vw);
        transform: translate(6rem);
      }

      .hamburger.open ~ ul {
        transform: translate(calc(-100vw + 5rem), 0);
      }

      ul li {
        margin: unset;
        width: 100%;
        border-top: 2px solid var(--cfa-white);
      }

      ul li a {
        border-radius: 0;
        display: block;
        font-size: 1.5rem;
        border: unset;
        padding: 0.5rem 1rem;
      }
    }
  }
}
