name: Statusboard lint
on:
  push:
    paths:
      - 'statusboard/**'
  pull_request:
    paths:
      - 'statusboard/**'
  workflow_dispatch:

jobs:
  statusboard-lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: statusboard
    steps:
      - uses: actions/checkout@v3
      - run: yarn --frozen-lockfile
      - run: yarn run lint
